---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import DoesDoesnt from "../components/DoesDoesnt.astro";
import Install from "../components/Install.astro";
import PlatformPrompts from "../components/PlatformPrompts.astro";
import FreeFraming from "../components/FreeFraming.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <main>
    <Hero />
    <DoesDoesnt />
    <Install />
    <PlatformPrompts />
    <FreeFraming />
  </main>
  <Footer />
</Base>
